
/*INDEX STYLING */


{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container
{
    width: 100%;
    height: auto;
    background-color: #DCDCDC;
}

.main
{
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
}

nav
{
    width: 100%;
    height: 100px;
}

nav ul
{
    float: right;
}

nav ul li
{
    display: inline-block;
    list-style-type: none;
}

nav ul li a
{
    text-decoration: none;
    color: #272727;
    line-height: 100px;
    padding: 35px 10px;
    font-size: 16px;
    letter-spacing: 0.5px;
}

nav ul li a:link
{
  text-decoration: none;
}

nav ul li a:visited
{
  text-decoration: none;
}

nav ul li a:hover
{
  text-decoration: underline;
}

.logo
{
    float: left;
}


.main .heading
{
    margin-top: 30px;
    margin-left: 30px;
}
/* Three columns side by side */
.column {
  float: left;
  margin-left: 10px;
  width: 30%;
  margin-bottom: 16px;
  padding: 0 8px;
  }

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/*Left and right padding inside the container */
.container {
  padding: 0 0px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.container h2
{
    text-align: center;
}

.title
{
    text-align: center;
    color: grey;
}

.container p
{
    text-align: center;
}

.boot
{
    color: #fff;
    text-decoration: none;
    background-color: #008080;
    font-size: 13px;
    border: 1px solid #272727;
    padding: 10px 25px;
    transition: 0.3s all;
    border-radius: 20px;
    line-height: 150px;
}

.boot:hover
{
    background-color: #272727;

}

.buy
{
    text-align: center;
    color: #fff;
    text-decoration: none;
    background-color: #008080;
    font-size: 13px;
    border: 1px solid #272727;
    padding: 10px 25px;
    transition: 0.3s all;
    border-radius: 20px;
    align-items: center;
    margin-left: 43.5%;
    line-height: 150px;
}

.buy:hover
{
    background-color: #272727;

}

.full-dark
{
    margin-top: 40px;
    width: 100%;
    padding: 72px 0px 72px 0px;
    background-color: #121212;
    background-size; cover;
    float: left;
    clear: both;
}

.full-dark .col-md-1
{
    width: 30%;
    float: left;
    padding-left: 40px;
}

.full-dark .col-md-1 .text-box-1
{
    padding-left: 60px;
    display: block;
}

.full-dark .col-md-1 .text-box-1 h5
{
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #fff;
    //margin-bottom: 5px;
    text-align: center;
}

.full-dark .col-md-1 .text-box-1 ul
{
    font-size: 16px;
    line-height: 23px;
    color: #008080;
}

.full-dark1
{
    width: 100%;
    padding: 72px 0px 72px 0px;
    background-color: #121212;
    background-size; cover;
    float: left;
    clear: both;
}

.full-dark1 .col-md-1
{
    width: 30%;
    float: left;
    padding-left: 40px;
}

.full-dark1 .col-md-1 .text-box-1
{
    padding-left: 60px;
    display: block;
}

.full-dark1 .col-md-1 .text-box-1 h5
{
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #fff;
    //margin-bottom: 5px;
    text-align: center;
}

.full-dark1 .col-md-1 .text-box-1 ul
{
    font-size: 16px;
    line-height: 23px;
    color: #008080;
}


